$white: #FFFFFF;
$black: #000000;
$card-background: #F9F9F9;
$placeholder: #F15A24;
$primary: #F15A24;
$yellow: #FFC641;
$green: #83E098;
$blue: #7844E3;
$linear-blue: linear-gradient(180deg, #7FEDFC 0%, #7FEDFC 50%, #80EDFD 72.92%, #91F3FF 100%);