@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

p {
  font-family: "DM Sans", sans-serif;
}

.btn {
  font-family: "DM Sans", sans-serif;
  padding: 20px 46px;
  background: #F15A24;
  color: #FFFFFF;
  border-radius: 50px;
  text-align: center;
  text-transform: uppercase;
}

.lp-header-estacao {
  overflow: hidden;
  margin-bottom: 100px;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao {
    margin-bottom: 88px;
  }
}

.lp-header-estacao .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.9fr 1.1fr;
      grid-template-columns: 0.9fr 1.1fr;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.lp-header-estacao .grid .header-text {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 25px 25px 25px 80px;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao .grid .header-text {
    padding: 70px 25px 40px;
    width: 100%;
  }
}

.lp-header-estacao .grid .header-text .main-text {
  margin-bottom: 52px;
}

.lp-header-estacao .grid .header-text .main-text .main-text-svg picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao .grid .header-text .main-text .main-text-svg picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lp-header-estacao .grid .header-text .main-text img {
  max-width: 100%;
}

.lp-header-estacao.estacao_solar {
  background: #7844E3;
}

.lp-header-estacao .header-image {
  position: relative;
}

.lp-header-estacao .header-image .floating-logo {
  top: 3%;
  left: 0;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 20%;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao .header-image .floating-logo {
    max-width: 156px;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

.lp-header-estacao .header-image .main-image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 767px) {
  .lp-header-estacao .header-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.lp-header-bola-berlim {
  overflow: hidden;
  margin-bottom: 100px;
  background: #83E098;
}

@media screen and (max-width: 767px) {
  .lp-header-bola-berlim {
    margin-bottom: 88px;
  }
}

.lp-header-bola-berlim .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.6fr 0.4fr;
      grid-template-columns: 0.6fr 0.4fr;
}

@media screen and (max-width: 767px) {
  .lp-header-bola-berlim .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.lp-header-bola-berlim .grid .header-text {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 70px 65px 50px;
}

@media screen and (max-width: 767px) {
  .lp-header-bola-berlim .grid .header-text {
    padding: 70px 25px 40px;
    width: 100%;
  }
}

.lp-header-bola-berlim .grid .header-text .main-text {
  margin-bottom: 52px;
}

.lp-header-bola-berlim .grid .header-text .main-text .main-text-svg picture {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

@media screen and (max-width: 767px) {
  .lp-header-bola-berlim .grid .header-text .main-text .main-text-svg picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lp-header-bola-berlim .grid .header-text .main-text img {
  max-width: 100%;
}

.lp-header-bola-berlim .header-image {
  position: relative;
}

.lp-header-bola-berlim .header-image .main-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 304px;
}

.lp-header {
  width: 100%;
  margin-bottom: 100px;
  background: -webkit-gradient(linear, left top, left bottom, from(#7FEDFC), color-stop(50%, #7FEDFC), color-stop(72.92%, #80EDFD), to(#91F3FF));
  background: linear-gradient(180deg, #7FEDFC 0%, #7FEDFC 50%, #80EDFD 72.92%, #91F3FF 100%);
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .lp-header {
    background-size: 150%;
    background-position: left bottom;
  }
}

.lp-header .grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  max-width: 1440px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .lp-header .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.lp-header .header-image {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .lp-header .header-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.lp-header .header-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lp-header::after {
  content: '';
  background: url(https://s1.kuantokusta.pt/img_upload/Repository/paginas-publicas/campanha-praia-2022/mudaki/waves_slice.svg);
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 120%;
  height: 15%;
  mix-blend-mode: multiply;
}

@media screen and (max-width: 767px) {
  .lp-header {
    margin-bottom: 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.lp-header .header-text {
  -ms-grid-column-align: start;
      justify-self: start;
}

@media screen and (max-width: 767px) {
  .lp-header .header-text {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.lp-header .header-text .main-text {
  display: block;
  position: relative;
}

@media screen and (max-width: 767px) {
  .lp-header .header-text .main-text {
    padding: 25px 15px 0;
  }
}

.lp-header .header-text .main-text .main-text-svg .text-svg {
  margin: 0 auto;
  max-width: 100%;
}

.lp-header .header-text .main-text .main-text-svg .logo-svg {
  position: absolute;
  top: -160px;
  right: 0;
}

.lp-content {
  max-width: 1108px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.lp-newsletter {
  background: #F15A24;
  padding: 62px 62px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-bottom: 103px;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
  .lp-newsletter {
    padding: 62px 32px 38px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: calc(100% - 40px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.lp-newsletter .lp-newsletter-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lp-newsletter .lp-newsletter-title .title {
  width: clamp(200px, 100%, 345px);
  position: relative;
}

.lp-newsletter .lp-newsletter-title .title svg {
  position: absolute;
  top: -70px;
  right: 0px;
}

@media screen and (max-width: 767px) {
  .lp-newsletter .lp-newsletter-title .title svg {
    max-width: 82px;
    top: -70px;
    right: -33px;
  }
}

.lp-newsletter .lp-newsletter-title .title h4 {
  font-weight: 700;
  font-size: 38px;
  line-height: 110%;
  color: #FFC641;
  width: 80%;
}

@media screen and (max-width: 767px) {
  .lp-newsletter .lp-newsletter-title .title h4 {
    width: 85%;
    font-size: 33px;
  }
}

.lp-newsletter .lp-newsletter-title .title p {
  font-size: 18px;
  line-height: 23px;
}

.lp-newsletter .lp-newsletter-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.lp-newsletter .lp-newsletter-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 25px;
}

.lp-newsletter .lp-newsletter-form form input {
  background: #FFFFFF;
  width: clamp(150px, 100%, 490px);
  padding: 12px 36px 8px;
  border: none;
  border-radius: 59px;
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .lp-newsletter .lp-newsletter-form form input {
    font-size: 15px;
    padding: 8px 12px;
  }
}

.lp-newsletter .lp-newsletter-form form ::-webkit-input-placeholder {
  font-family: "DM Sans", sans-serif;
  color: #F15A24;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.lp-newsletter .lp-newsletter-form form :-ms-input-placeholder {
  font-family: "DM Sans", sans-serif;
  color: #F15A24;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.lp-newsletter .lp-newsletter-form form ::-ms-input-placeholder {
  font-family: "DM Sans", sans-serif;
  color: #F15A24;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.lp-newsletter .lp-newsletter-form form ::placeholder {
  font-family: "DM Sans", sans-serif;
  color: #F15A24;
  opacity: 0.3;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

@media screen and (max-width: 767px) {
  .lp-newsletter .lp-newsletter-form form ::-webkit-input-placeholder {
    font-size: 15px;
  }
  .lp-newsletter .lp-newsletter-form form :-ms-input-placeholder {
    font-size: 15px;
  }
  .lp-newsletter .lp-newsletter-form form ::-ms-input-placeholder {
    font-size: 15px;
  }
  .lp-newsletter .lp-newsletter-form form ::placeholder {
    font-size: 15px;
  }
}

.lp-newsletter .lp-newsletter-form form button {
  width: clamp(188px, 100%, 209px);
  background: #FFC641;
  color: #FFFFFF;
  text-align: center;
  padding: 8px 16px;
  border: none;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 91.2%;
}

@media screen and (max-width: 767px) {
  .lp-newsletter .lp-newsletter-form form button {
    padding: 14px 32px;
    font-size: 16px;
  }
}

.lp-big-images {
  margin-bottom: 114px;
}

@media screen and (max-width: 767px) {
  .lp-big-images {
    margin-bottom: 88px;
  }
}

.lp-big-images .lp-images-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

@media screen and (max-width: 767px) {
  .lp-big-images .lp-images-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.lp-big-images .lp-images-group a img {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lp-big-images .lp-images-group a:hover img {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.lp-product-carrousel {
  padding: 0 0 0 20px;
  margin-bottom: 140px;
}

@media screen and (max-width: 767px) {
  .lp-product-carrousel {
    margin-bottom: 88px;
  }
}

.lp-product-carrousel .carrousel {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding: 20px;
  overflow-y: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.lp-product-carrousel .carrousel::-webkit-scrollbar {
  display: none;
}

.lp-product-carrousel .carrousel .lp-product-card {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #F9F9F9;
  padding: 40px 16px;
  border-radius: 15px;
  gap: 12px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  scroll-snap-align: center;
}

.lp-product-carrousel .carrousel .lp-product-card:last-child {
  margin-right: 20px;
}

@media screen and (max-width: 767px) {
  .lp-product-carrousel .carrousel .lp-product-card {
    min-height: 360px;
    min-width: 262px;
  }
}

.lp-product-carrousel .carrousel .lp-product-card .lp-product-image {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lp-product-carrousel .carrousel .lp-product-card .lp-product-image img {
  width: 100%;
  mix-blend-mode: multiply;
}

.lp-product-carrousel .carrousel .lp-product-card h4 {
  color: #000000;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  overflow-wrap: anywhere;
}

.lp-product-carrousel .carrousel .lp-product-card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.lp-title-group {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .lp-title-group {
    margin-bottom: 40px;
  }
}

.lp-title-group h2.lp-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 100.2%;
}

@media screen and (max-width: 767px) {
  .lp-title-group h2.lp-title {
    font-size: 25px;
  }
}

.lp-title-group p {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

@media screen and (max-width: 767px) {
  .lp-title-group p {
    font-size: 16px;
    line-height: 21px;
  }
}

.lp-primary {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  background-color: #FFC641;
  padding: 15px 55px;
  border: none;
  color: #FFFFFF;
  border-radius: 23px;
  text-transform: uppercase;
  font-weight: 700;
}

.lp-primary.green {
  background-color: #83E098;
}

.lp-primary.primary {
  background-color: #F15A24;
}

@media screen and (max-width: 767px) {
  .lp-primary.btn_center {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .lp-primary {
    padding: 8px 30px;
  }
}

@media screen and (max-width: 767px) {
  .lp-primary {
    padding: 8px 30px;
  }
}

.lp-grid-images {
  margin-bottom: 114px;
}

@media screen and (max-width: 767px) {
  .lp-grid-images {
    margin-bottom: 88px;
  }
}

.lp-grid-images .lp-images-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.lp-grid-images .lp-images-group a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.lp-grid-images .lp-images-group a:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.lp-grid-images .lp-images-group a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .lp-grid-images .lp-images-group {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 768px) {
  .lp-grid-images .lp-images-group .big-image {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row-span: 2;
        grid-row-end: span 2;
  }
  .lp-grid-images .lp-images-group .small-image {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row-span: 1;
        grid-row-end: span 1;
  }
}
/*# sourceMappingURL=syles_backup.css.map */