@import "fonts";
@import "colors";
@import "init";


.lp-header-estacao {
    overflow: hidden;
    margin-bottom: 100px;

    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
    }

    .grid {
        display: grid;
        grid-template-columns: 0.9fr 1.1fr;

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

        .header-text {
            justify-self: end;
            align-self: center;
            padding: 25px 25px 25px 80px;

            @media screen and (max-width: 767px) {
                padding: 70px 25px 40px;
                width: 100%;
            }

            .main-text {
                margin-bottom: 52px;

                .main-text-svg {
                    picture {
                        width: 100%;
                        display: flex;
                        justify-content: end;

                        @media screen and (max-width: 767px) {
                            justify-content: center;
                        }

                    }
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    &.estacao_solar {
        background: $blue;
    }

    .header-image {
        position: relative;

        .floating-logo {
            top: 3%;
            left: 0;
            position: absolute;
            transform: translateX(-50%);
            max-width: 20%;

            @media screen and (max-width: 767px) {
                max-width: 156px;
                top: auto;
                bottom: 0;
                left: auto;
                right: 0;
                transform: translateY(50%);
            }
        }

        .main-image {
            width: 100%;
            object-fit: cover;
        }


        @media screen and (max-width: 767px) {
            order: -1;
        }
    }
}

.lp-header-bola-berlim {
    overflow: hidden;
    margin-bottom: 100px;
    background: $green;

    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
    }

    .grid {
        display: grid;
        grid-template-columns: 0.6fr 0.4fr;

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

        .header-text {
            justify-self: start;
            align-self: center;
            padding: 70px 65px 50px;

            @media screen and (max-width: 767px) {
                padding: 70px 25px 40px;
                width: 100%;
            }

            .main-text {
                margin-bottom: 52px;

                .main-text-svg {
                    picture {
                        width: 100%;
                        display: flex;
                        justify-content: start;

                        @media screen and (max-width: 767px) {
                            justify-content: center;
                        }

                    }
                }

                img {
                    max-width: 100%;
                }
            }
        }
    }

    .header-image {
        position: relative;

        .main-image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            min-height: 304px;
        }
    }
}

.lp-header {
    width: 100%;
    margin-bottom: 100px;
    background: $linear-blue;
    position: relative;
    overflow: hidden;



    @media screen and (max-width: 767px) {
        background-size: 150%;
        background-position: left bottom;
    }


    .grid {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        max-width: 1440px;
        // min-height: 689px;
        margin: 0 auto;


        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

    }


    .header-image {
        // background: url(../assets/mudaki/header_Imaage_mudaki.jpg);
        // background-size: contain;
        // background-position: bottom;
        height: 100%;
        // background-repeat: no-repeat;

        @media screen and (max-width: 767px) {
            order: 2;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &::after {
        content: '';
        background: url(https://s1.kuantokusta.pt/img_upload/Repository/paginas-publicas/campanha-praia-2022/mudaki/waves_slice.svg);
        background-size: contain;
        position: absolute;
        bottom: 0;
        left: -20px;
        width: 120%;
        height: 15%;
        mix-blend-mode: multiply;
    }


    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
        flex-direction: column;
    }

    .header-text {
        justify-self: start;


        @media screen and (max-width: 767px) {
            justify-self: center;
        }


        .main-text {
            display: block;
            position: relative;


            @media screen and (max-width: 767px) {
                padding: 25px 15px 0;
            }

            .main-text-svg {
                .text-svg {
                    margin: 0 auto;
                    max-width: 100%;
                }

                .logo-svg {
                    position: absolute;
                    top: -160px;
                    right: 0;
                }
            }

        }
    }

}

.lp-content {
    max-width: 1108px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.lp-newsletter {
    background: $primary;
    padding: 62px 62px 45px;
    display: flex;
    align-items: center;
    color: $white;
    margin-bottom: 103px;
    border-radius: 15px;


    @media screen and (max-width: 767px) {
        padding: 62px 32px 38px;
        align-items: stretch;
        max-width: calc(100% - 40px);
        flex-direction: column;
        justify-content: center;
    }

    .lp-newsletter-title {
        flex-grow: 1;
        flex-shrink: 0;

        .title {
            width: clamp(200px, 100%, 345px);
            position: relative;

            svg {
                position: absolute;
                top: -70px;
                right: 0px;

                @media screen and (max-width: 767px) {
                    max-width: 82px;
                    top: -70px;
                    right: -33px;

                }
            }

            h4 {
                font-weight: 700;
                font-size: 38px;
                line-height: 110%;
                color: $yellow;
                width: 80%;

                @media screen and (max-width: 767px) {
                    width: 85%;
                    font-size: 33px;
                    ;

                }
            }

            p {
                font-size: 18px;
                line-height: 23px;
            }

        }

    }

    .lp-newsletter-form {
        flex-grow: 1;
        flex-shrink: 0;

        form {
            display: flex;
            flex-direction: column;
            justify-content: end;
            align-items: flex-end;
            gap: 25px;

            input {
                background: $white;
                width: clamp(150px, 100%, 490px);
                padding: 12px 36px 8px;
                border: none;
                border-radius: 59px;
                font-family: $DM-Sans;
                color: $black;
                font-size: 18px;
                line-height: 23px;
                font-weight: 700;

                @media screen and (max-width: 767px) {
                    font-size: 15px;
                    padding: 8px 12px;
                }
            }

            ::placeholder {
                font-family: $DM-Sans;
                color: $primary;
                opacity: 0.3;
                font-size: 18px;
                line-height: 23px;
                font-weight: 700;

                @media screen and (max-width: 767px) {
                    font-size: 15px;
                }
            }

            button {
                width: clamp(188px, 100%, 209px);
                background: $yellow;
                color: $white;
                text-align: center;
                padding: 8px 16px;
                border: none;
                border-radius: 30px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
                line-height: 91.2%;

                @media screen and (max-width: 767px) {
                    padding: 14px 32px;
                    font-size: 16px;
                }
            }

        }

    }
}

.lp-big-images {
    margin-bottom: 114px;

    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
    }

    .lp-images-group {
        display: flex;
        gap: 20px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }

        a {
            img {
                width: 100%;
                transition: all 0.3s;
            }

            &:hover {
                img {
                    transform: scale(1.04);
                }
            }
        }
    }
}

.lp-product-carrousel {
    padding: 0 0 0 20px;
    margin-bottom: 140px;

    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
    }

    .carrousel {
        width: 100%;
        display: flex;
        gap: 20px;
        padding: 20px;
        overflow-y: auto;
        scroll-snap-type: x mandatory;

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .lp-product-card {
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            background: $card-background;
            padding: 40px 16px;
            border-radius: 15px;
            gap: 12px;
            text-align: center;
            transition: all 0.3s;
            width: 100%;
            scroll-snap-align: center;

            &:last-child {
                margin-right: 20px;
            }

            @media screen and (max-width: 767px) {
                min-height: 360px;
                min-width: 262px;
            }


            .lp-product-image {
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    mix-blend-mode: multiply;
                }
            }

            h4 {
                color: $black;
                font-family: $DM-Sans;
                font-weight: 700;
                font-size: 20px;
                line-height: 130%;
                overflow-wrap: anywhere;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

}

.lp-title-group {
    margin-bottom: 45px;

    @media screen and (max-width: 767px) {
        margin-bottom: 40px;
    }

    h2.lp-title {
        font-family: $DM-Sans;
        font-weight: 500;
        font-size: 30px;
        line-height: 100.2%;

        @media screen and (max-width: 767px) {
            font-size: 25px;
        }
    }

    p {
        font-family: $DM-Sans;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;

        @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 21px;
        }
    }
}

.lp-primary {
    font-family: $DM-Sans;
    font-size: 18px;
    background-color: $yellow;
    padding: 15px 55px;
    border: none;
    color: $white;
    border-radius: 23px;
    text-transform: uppercase;
    font-weight: 700;

    &.green {
        background-color: $green;
    }

    &.primary {
        background-color: $primary;
    }

    &.btn_center {
        @media screen and (max-width: 767px) {
            display: block;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 1024px) {
        padding: 8px 30px;
    }

    @media screen and (max-width: 767px) {
        padding: 8px 30px;

    }
}

.lp-grid-images {
    margin-bottom: 114px;

    @media screen and (max-width: 767px) {
        margin-bottom: 88px;
    }

    .lp-images-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        a {
            transition: all 0.3s;

            &:hover {
                transform: scale(1.04);
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        @media screen and (max-width: 767px) {
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 768px) {
            .big-image {
                grid-column-start: 1;
                grid-column-end: 2;
                grid-row-end: span 2;
            }

            .small-image {
                grid-column-start: 2;
                grid-column-end: 3;
                grid-row-end: span 1;
            }
        }

    }
}